h2 {
  text-align: center;
  font-size: 5rem;
}

button {
  font-size: 30px;
  appearance: none;
  border: 1px white solid;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: black;
  }
}

.controls {
  display: flex;
  justify-content: center;
}

button.active-link {
  border: 1px black solid;
}