<!-- <div class="container">
  <header class="header">
    <h1>Site Name</h1>
  </header>

  <main class="main-content">
  </main>

  <aside class="sidebar">

  </aside>

  <footer class="footer">

  </footer>
</div> -->

<div class="media-container">
    <h1 class="site-title">Cart Name</h1>
    <img src="../../assets/img/01.jpg" class="image">
    <p class="description"> Vestibulum sodales ultricies nibh, quis dictum mauris eleifend et. Fusce eu interdum dui. Sed congue suscipit dignissim. In hac habitasse platea dictumst. Etiam at ligula eget magna varius luctus. Nullam ut quam mauris.</p>
</div>