
h1 {
  margin: 0;
}

img {
  width: 100%;
}

.container {
  height: 100vh;
  width: 900px;
  margin: 0 auto;
}

.header {
  background-color: coral;
  color: white;
  text-align: center;
}

.main-content {
  background-color: darkred;
}

.sidebar {
  background-color: olive;
}

.footer {
  background-color: navy;
}



.media-container {
  margin: 0 auto;
  max-width: 800px;
}


.site-title {}

.tagline {}

.image {}

.info {}

.entry {}
