.container {
  max-width: 1000px;
  background-color: white;
  min-height: calc(100vh - 20px);
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

nav {
  background-color: #3f51b5;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      padding: 1rem;

      &:hover {
        background-color: #1a2770;
      }

      & a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
      }
    }
  }
}

// Simple Menu
.simple {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: center;
    // align-items: center; // stretch will become ineffective

    li {
      text-align: center;
      margin-bottom: 20px;
      flex: 1;
    }
  }

  @media screen and (min-width: 768px) {
    ul {
      flex-direction: row;

      li {
        margin-bottom: 0;
      }
    }
  }
}

// Menu with icons
.icons {
  ul {
    li {
      a {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 2rem;
          margin-right: 1rem;
          // flex: 0 0 3rem;
          // do not use the above to set flex basis
          // we can not center align the icon.
        }

        .text {
          font-size: 1.4rem;

          span {
            display: block;
            font-size: .8rem;
            margin-top: 10px;
          }
        }
      }
    }

    @media screen and (min-width:480px) {
      display: flex;
      flex-wrap: wrap;

      li {
        flex: 0 0 calc(50% - 2rem);
      }
    }

    @media screen and (min-width:768px) {
      li {
        flex: 1;
      }
    }
  }

}

.dropdown {
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;

      ul {
        margin-top: 1rem;
        display: none;

        li:hover {
          background-color: #ff5e62;
        }
      }

      &:hover ul {
        display: block;
      }
    }
  }

  @media screen and (min-width:768px) {
    ul {
      flex-direction: row;
      justify-content: space-between;

      li {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 0 1 100%;

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;

          li {
            &:hover {
              background-color: white;

              a {
                color: #ff5e62;
              }
            }
          }

        }

        &:hover ul {
          display: flex;
          flex-wrap: wrap;
          background-color: #ff5e62;
          margin: 0;
        }
      }
    }
  }
}

// Social Menu
.social-menu {
  ul {
    display: flex;
    // flex-wrap: wrap;
    justify-content: flex-end;

    li {
      span {
        display: none;
      }

      a::before {
        content: '';
        font-family: "Font Awesome 5 Brands";
      }

      a[href*='facebook.com'] {
        &::before {
          content: '\f39e';
        }
      }

      a[href*='twitter.com'] {
        &::before {
          content: '\f099';
        }
      }

      a[href*='youtube.com'] {
        &::before {
          content: '\f431';
        }
      }

      a[href*='instagram.com'] {
        &::before {
          content: '\f16d';
        }
      }

      a[href*='pinterest'] {
        &::before {
          content: '\f231';
        }
      }
    }
  }
}
