.container {
  max-width: 1000px;
  background-color: white;
  min-height: calc(100vh - 20px);
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

nav {
  background-color: #3f51b5;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      padding: 1rem;

      &:hover {
        background-color: #1a2770;
      }

      & a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
      }
    }
  }
}

// Simple Menu
.simple {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: center;
    // align-items: center; // stretch will become ineffective

    li {
      text-align: center;
      margin-bottom: 20px;
      flex: 1;
    }
  }

  @media screen and (min-width: 768px) {
    ul {
      flex-direction: row;

      li {
        margin-bottom: 0;
      }
    }
  }
}
