h2 {
  margin: 0;
}

.services {
  border: 3px solid black;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(6, 200px);
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


}

.service {
  color: white;
  text-align: center;
}

.service-1 {
  background-color: darkviolet;
}

.service-2 {
  background-color: rgb(8, 77, 8);
}

.service-3 {
  background-color: teal;
}

.service-4 {
  background-color: cornflowerblue;
}

.service-5 {
  background-color: crimson;
}

.service-6 {
  background-color: darkmagenta;
}
