/* You can add global styles to this file, and also import other style files */
:root {
  --mainFont: 'Lato', sans-serif;
  --primary: rgb(255, 90, 95);
  --dark: #484848;
  --light: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--mainFont);
}

/** Colors / Categories **/
.lodgement {
  color: #274154;
}

.concert {
  color: #DA595e;
}

.class {
  color: #598DDA;
}

.outdoor-activity {
  color: #940AD4;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--dark);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
