:host {
  display: block;
}

.hero {
  display: grid;
  grid-template-rows: 150px auto;
  height: 100vh;
  background-image: url(../assets/img/bg.jpg);
  background-position: bottom center;
  background-size: cover;

  .header {
    display: grid;
    grid-template-columns: 10% auto 30%;
    width: 100%;
    padding: 1rem;
    align-items: flex-start;

    .main-nav {
      display: none;

      @media (min-width: 768px) {
        grid-column: 3;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        a {
          color: white;
          font-size: .8rem;
          text-decoration: none;
          padding: 1rem;
          display: block;
          text-align: center;

          &:hover {
            border-bottom: 1px solid var(--light);
          }
        }
      }
    }
  }
}
