@import "../sass/variables";
@import "../sass/mixins";

img {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.cart-content {
  position: relative;

  &:hover .content {
    display: block;
    position: absolute;
    right: 0;
    width: 400px;
    background-color: $white;
    padding: 1rem;

    .button {
      @include button($secondary);
    }
  }
}

.hero {
  background-image: url(../assets/img/hero.jpg);
  min-height: 24rem;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;

  .hero-content {
    color: $white;

    h2 {
      font-size: 2.6rem;
      font-weight: 400;
    }

    form {
      position: relative;

      input[type="text"] {
        width: 100%;
        height: 3rem;
        padding-left: .5rem;
      }

      input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background-color: transparent;
        border: none;
        width: 3rem;
        height: 3rem;
        background-image: url(../assets/img/search.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -9999px;
        cursor: pointer;
      }

      @include tablet {
        width: 40%;
      }
    }
  }
}

.bar {
  min-height: 5rem;
  background: $secondary;
  color: white;
  @include gradient($secondary, $alternative);

  .icons {
    display: flex;
    flex-direction: column;
    padding: 1.4rem 0;

    @include desktop {
      flex-direction: row;

      .icon {
        flex: 0 0 33.33%;
      }
    }

    .icon1 {
      @include bg-icon(icon1)
    }

    .icon2 {
      @include bg-icon(icon2)
    }

    .icon3 {
      @include bg-icon(icon3)
    }
  }
}

.course-list {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .course {
    flex: 0 0 calc(50% - 1rem);

    @include tablet {
      flex: 0 0 calc(33.33% - 1rem);
    }

    @include desktop {
      flex: 0 0 calc(25% - 1rem);
    }

    background-color: $white;
    margin-bottom: 1rem;
    border: 1px solid darken($gray, 5%);

    .course-info {
      padding: 1rem;

      h4 {
        margin: 0;
        font-size: 1.2rem;
      }

      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .regular {
          text-decoration: line-through;
        }

        .offer {
          font-size: 1.4rem;
          font-weight: 700;
        }
      }

      .button {
        @include button($primary);
      }
    }
  }
}
