@import "../scss/variables";
@import "../scss/mixins";

.site-header {
    img {
        margin-top: .5rem;
        max-width: 100px;
        @include tablet {
            max-width: 180px;
            margin-left: 2rem;
        }
    }
}

.login-form {
    @include tablet {
        background-color: rgba(0,0,0,.75);
        max-width: 450px;
        margin: 3rem auto 4rem auto;
        padding: 2rem 4rem;
        border-radius: 10px;
    }
}