body {
  box-sizing: border-box;
  margin: 0;
  background: #ff9966;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-name {
  background-color: #03A9F4;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & h1 {
    color: white;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width:768px) {
    flex-direction: row;
  }

  & a {
    color: white;
    font-size: 1.2rem;
    font-family: 'IBM Plex Serif', serif;
    text-decoration: none;
    margin-bottom: 1rem;
    @media screen and (min-width:768px) {
      margin-right: 1rem;
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.container {
  background-color: white;
  min-height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

h1,
h2 {
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
}

h2 {
  color: white;
}

.flex-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  & .main-content {
    @media screen and (min-width:768px) {
      flex: 0 0 calc(60% - 1rem);
    }
  }

  & aside {
    background-color: #03A9F4;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:768px) {
      flex: 0 0 40%;
      order: 1;
      margin-bottom: 2rem;
    }

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;

      & li {
        margin-bottom: 1rem;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }

        & a {
          color: white;
          text-decoration: none;
          font-family: 'IBM Plex Serif', serif;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media screen and (min-width:768px) {
    margin-bottom: 0;
  }

  & .service {
    flex: 0 0 100%;
    padding: 5px;

    @media screen and (min-width:768px) {
      flex: 0 0 calc(33.33% - 1rem);
    }

    &:nth-child(1) {
      background-color: #E53935;
    }

    &:nth-child(2) {
      background-color: #8E24AA;
    }

    &:nth-child(3) {
      background-color: #3F51B5;
    }
  }
}

footer {
  height: 100px;
  background-color: #8E24AA;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    color: white;
    font-size: 1, 4rem;
  }
}
