<h2>Comments</h2>

<div id="omments" class="container">
  <div class="comment-container">
    <img src="../../assets/img/comment.jpg" class="avatar">
    <div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, nostrum aliquam. Qui blanditiis, amet hic
        quaerat veniam quasi velit deserunt, at doloremque suscipit sed nesciunt et unde ipsam, accusantium quibusdam?
      </p>
      <div class="comment-container second-level">
        <img src="../../assets/img/comment.jpg" class="avatar">
        <div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, nostrum aliquam. Qui blanditiis, amet
            hic quaerat veniam quasi velit deserunt, at doloremque suscipit sed nesciunt et unde ipsam, accusantium
            quibusdam?
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="comment-container">
    <img src="../../assets/img/comment.jpg" class="avatar">
    <div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, nostrum aliquam. Qui blanditiis, amet hic
        quaerat veniam quasi velit deserunt, at doloremque suscipit sed nesciunt et unde ipsam, accusantium quibusdam?
      </p>
    </div>
  </div>
</div>
