:host {
  display: basic;
}

h2 {
  margin: 0;
  font-size: 3rem;
}

.services {
  border: 3px solid black;
  height: 300px;
  display: grid;
  //   grid: 50% 50% / 33.33% 33.33% 33.33%;
  //   grid: repeat(2, 50%) / repeat(3, 33.33%);
  grid: repeat(2, 50%) / 40% repeat(3, 20%);


}

.service {
  color: white;
  text-align: center;
}

.service-1 {
  background-color: darkviolet;
  grid-column: 1 / span 3;
}

.service-2 {
  background-color: limegreen;
}

.service-3 {
  background-color: teal;
}
