@import "../scss/variables";
@import "../scss/mixins";

i {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.header {
  display: flex;

  .site-name {
    background-color: $secondary;
    flex: 0 0 5rem;
    padding-left: 1rem;

    h1 {
      color: $white;
    }

    @include desktop {
      flex: 0 0 20rem;
    }

    .desktop {
      display: none;

      @include desktop {
        display: block;
      }
    }

    .mobile {
      @include desktop {
        display: none;
      }
    }
  }

  .bar {
    background-color: $primary;
    display: flex;
    flex: 1;
    justify-content: space-between;

    .left-content {
      padding-left: 1rem;
      display: flex;
      align-items: center;
      color: $white;

      .fa-arrow-right {
        display: none;
      }
    }

    .right-content {
      display: flex;

      .box {
        padding: 0 1rem;
        display: flex;
        align-items: center;

        &:hover {
          background-color: $secondary;
        }

        a {
          color: $white;
          text-decoration: none;
          display: flex;
          align-items: center;

          span {
            background-color: $tertiary;
            padding: .5rem;
            margin-left: .5rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
