:host {
  display: block;
}

.positions {
  min-height: 100vh;
  background-image: url(../../assets/img/burguer.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  >div {
    flex: 0 0 calc(33.33% - 3rem);
  }

  .top {
    align-self: flex-start;
    margin-top: 1rem;
  }

  .offer {
    background-color: #e0ab10;
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
    span {
        display: block;
        font-size: 3rem;
    }
  }
  .main-content {
      text-align: center;
      h1 {
          color: #e0ab10;
          margin: 0;
          text-transform: uppercase;
      }
      p {
          margin: 0;
      }
      .location {
          font-size: 1.4rem;
          font-weight: bold;
      }
  }

  .bottom {
      align-self: flex-start;
      margin-bottom: 1rem;
  }
}
